zWzgPn1XcfVwce7+wtLKRnG9qarpu/QYXF1d8kMg/QAwGg7F2jU9s7B3hme5jDb7ztho5WOtD9sznQ+LjkpCrL5LTS8mZDg6OBw4eUlNTw8eJ/H3FKMjPnzFjmnAUYWWstmPlZ9Ymf+aLe/9J2eaDKQUl9cSf2tral0PDDA2N8Ikin0aMa+HhTaymXlY4Hhycl5dL/uk6xmDV3GEKchIaKjJUKuVPOWkul19Z3VTHbPH79cHjFxXETH19/Xnz5tMkJHraSlZG1nvy5P/4865tqgr4fR0xvXtaMJWCOYzuee+slKSk5LJlS/q+fkxKQUxKAQBQqRRTQ5XPR9Bd7AfYWmj241xTMkrjUouTHpe8LanrqnNhYeHWrVt62Two6NhHvZUhIcd37dqlqqoSFHR06FCbv+fz5vA4xdX57e1SPvS3pGrjtv0Wu/N16RML3aGLnTfQxCSwKQUL5s+Lior8kKOOGqq95vsRNhYafVw/Ma1kX0jay5yqfh/Rzc39eMiJj3cfq6urjYwMuFwuAIwdOzYyMvrv+bwZzIqlZ2YS0+cX3RGjivVvP3deRoTcOyB4HxxXjbf84r9eYwDAmrXrehGDTqe7urnb29tra+toampyOJzKyoqioqK7dxPi4+Jqa2sBIPVp+VfLIqa4mvgvt5eS7O0c6hpafPbci08tIudYWlq5ubvb2NhqaWqqqas3MpkVlZV5ubl3YmNSkpPZbHa3+1m1evVHvY9cLoewAgBaW1v/9S0NDq+t2+n/evDt7eWZlvZYZKa19eCNmzZ99tnYnt8e7pUrYYGB+8rLygSbmKid2e2hKC/Z7frljMaZq28Xlgk6QNzdPdat3zBo0KCe9t/Y2HjsaNDRo0EsFkt4/rBhw6/fiPjDi3r79u3Nm78/eZJx8uTpftwTPz/f/fsDlZWVz5w59/nnn/+7awxWa1NAxNrcykxTbav1X+6SpsmgGAAAly9f8lm9ivxTQkLC33/7N7Nm9WVbNpu9c2fAiZDjxJ9WxmqhB77oWm/U1LO9F98ormACgLq6+uHDQaNGj+7Ts2cwli9bmpSUSM7Z//OBqVO/7n2rZ8+ejhljTwTxr15l9u9utra2Skj8rVvbf5YY7ZFG678vuiDoZ1LCwsKCnFZVVb0cGtZHKwBASkrKz89/775AGo0GAC9zqjYEJousw+Pxl/wUR1hhaWl163ZkH60gLDp3/sLcud+Tc+LiYvvQFuJ++N38m1vxp/O3tYLJrr/y+PSBaL8LD45V1pf9dWJs27qVfMtPnzk3fPiI993D9OkzAnbuIqZvxOfeTswXXnoq/FXq03IAGDBgwMVLl7S1dd7vqqhU/5+2T58+g/jz1s2b166Ff5QHwGQ2Njb2b9va2tq6urq+r9/CYTc01/H5vPeIfHjcelYtl8f9VC9oU0tjK6elrxfYxq5j1fTvbJnsBi6PQ0yX1hYFRKyjK+vPHP2Dpa7Nr7EBL0sy/org+9Kli48fPyKm9+4LHDJkiGhkxuEkJyUlJyeVl5fTJGj6A/Sdxo0fOnRoVzcyMzOJNtX2I6lOI/WkpcQBgFHTfOBMOgDIyMicOHlaWVml6+sYFxebnpbGqGIoyCsMMjZ2c3PX19cXWS1g5668vDziVP18t3l4TJCSkup6OXPnzqmurm5oYBJ/VlZWTprUkWNZtmy5s7MLAHz77ay6ujpdXfqRI0EAcOHC+T17dufm5trZ2cXFJQCAr++2jIx0AFiw4Icvv5xEbJ6dne3jswoAnJ1dli1bDgAxMdHBwcGJifeampoAQFlZecKEiT4+a4yNjbueW3FNfmJWTFb5C0ZDRR2rBgCoFKqhhsnnpi4uVp499ULw+Ly4VzfvZUXnvcvi8/lUClVLUXesmeuEIV91bTnHvb6ZmnsPALQUdec5rOjpoYc+PJFTmQkAI43GulhNauGw990WJMdXuvvKSMgKr/ym/GV42tnCqjzinBVllAdpmLlYew4dMLLrnl+XPYt7dfN5URqTXQ8AFApFW0lvuKG9x5CvlGVURVZ+11AefHc/AIww+szVypPd1nw9/ULcq5tMdv2UkXOmjJgDAKeTfl3isuFE4iGl/BRVOfW1EwMCItYETD1CeZ9Om/6IEXTkCDHh5OTk5eUtsjQmJtrfz7ewsFB45v79gSNGjNyxI8BcqA0GABs2bIy8fau8vLyC0RQa+WaOtyUAHA973shqA4AfFy8xNTUV2f/Ro0G/HDpYX18vPHP7T/5eXt7bfP1UVTtuJY1G27V7j6vLeC6XW11dHRp6+dtv53S9nJSU+2VlpcIhUHx8PPknGZykp6cXFhbq6ekBwLp1a3/77dcuUcozYkN3d4+OVnhbGzFTQUGxra1t+fJlZ86cFqk3zp8/FxYWum9f4Pffz+v0yr66efzezyKvMo/Py6vMyqvMSs6O2zhpT9eot4pZuefWpqLqt8KblNUVX04NSXpzZ4HjKpH19VUHBSfsB4CXJRlew2aqyml0W1ndenalpY0NAFNHfkfURS+K0wXlILdTVupU0q9RzzvVz/Ws2vSCB8U1BYdmnxee39zadDhu1+O3KcIz+Xx+WW1RRG1R9Ivrs+wXulhNErl84rjq8lrstubtN3xyKzNFwp42bquusj6fz6Mr6zOYlfJSCvpqA0tri+gqBh9RjLsJCUTHNpVK3bhxs8jSX345tGe3oIEkIyNjYWHJamZlv3nD4XAeP37k6TnpSFDQ+PHOwvHGqtU+a3xWA8CJqy9ne1o0t3Au3X4DABoaGj/88D+RimjRwv+RmWIVFVVTM9PysrKCggI+n3/tWvijR48uXLxoZDSQ3MTExGTq1K8vXboIAMHHjnYrhoeHR01NTV1dbUJCAnHabm7uHe+NvuBuysrKAgCLxbp+/Rpphba2jpqaei+3S0ZG8OI2NNSvXbvmzJnTFApl4sQvRowYIS0t/ezZs2vXwlksVmtr67JlS2VkZMjmHwAMUDPi8/laSrpjjMdrK9HV5bVaOOyXJRm3n13hcDk5Fa+DEwKXuW4ReQW3hi+raWQAAJUqNtJorLnOYDGqWFH12+Q3sWW1RUfidomc4SBNM7qKfklNIZ/Pv5+T8KXNtK5XkZafQlhBV9E30bLs5XrvZUUTVihIK3razjTUMGlkNxTXFDzISbA1GNXJijbW1vBlRG+jlIS0k7mHuc4QKZp0WW1x/OtbRdVvW9rYIfcOsFobPW1nkltJ0qRIV8+mHCGsoFLF1OTUpWjSRIXDBz4AUIAiLkYjZvL4POp7phneW4zbt28RE6Pt7c3MzYUXXQsPJ6xQV1cPCNjl5u5OoVAAoKWl5eTJE/v27mluZi1auDAi4nfhDadMmbr9J//6+vriCub9J2VljEZmUysAzJgxU+TjpG1btxBWWFha7t0bOHjw4PZCt2ZnQMDFixdKS0u+m/PtrdtR8vLy5Fbz5s0nxCgoKMjNze2a7T148BAAZGSkJySMJU7+7Nlz3dwpcRqREd6xYzuFQlm06Md169YLV1C9h+Opqanx8fF0Ov3y5dAhQ4YKN9UmT/YuLS0BgJUrVzg6OmppaROLjDUt1n2xc6j+SIpQB/VgveFWdNtdv6/n8Xn3cxK+GjFHV3kAufRI/G7CCmkJmeVuW4WbLlNGzDkQ7fe69FnXk3Qwcz9//ygAJGfHdSvG/WxBFTrOYmLv1xuRcZGYWDNxh7GmoHUw0mjsV8NnE2p1tDvi9hBWyEspbpi020jdhLxAV2vPE4kHY1/+DgCXU0+YalmZ6QietThV8MYWVb8tryuWkZSbPWbRZybjyTSAOJUmLSFbUJVjrGXpauV5/sHROlZNSU2BthL94wbf9+8LKj7hYpV4Y7Zt2woAenp6cfEJ7h4ehBUAICkpuXDhous3IiQlJZubWZs2bez8womTdUhkUn5UUoFg/+6d9v/06VOiETLe2fnWrUjSCgBQVlbZs3ffnr37ACA/P//XXw4Jb2hmbj5ggODVSUq81+84UkxMjJA8MzNz/foNe/bs/UMrAEBMTHCHWSyWnJxcRMRNYSsAwNLSMi4unigCmEzm4cOHhZfa6NtRugzbGKw3fIi+4I3PKHgg3LJ/WiiI/Xwm/CTSoFewp-menu-image:before {
  color: #f2fcff;
}

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #fff;
  background-color: #9ebaa0;
}

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #fff;
}

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  background-color: #f1f1f1;
  border-bottom-color: #f1f1f1;
}

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #627c83;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #627c83;
}

#adminmenu .wp-submenu .wp-submenu-head {
  color: #d5dde0;
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #d5dde0;
}

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
  color: #9ebaa0;
}

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: #fff;
}

#adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
  color: #9ebaa0;
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  border-right-color: #f1f1f1;
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #fff;
  background: #9ebaa0;
}

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
.ie8 #adminmenu li.opensub div.wp-menu-image:before {
  color: #fff;
}

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #fff;
  background: #aa9d88;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #fff;
  background: #627c83;
}

/* Admin Menu: collapse button */
#collapse-button {
  color: #f2fcff;
}

#collapse-button:hover,
#collapse-button:focus {
  color: #9ebaa0;
}

/* Admin Bar */
#wpadminbar {
  color: #fff;
  background: #738e96;
}

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
  color: #fff;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
  color: #f2fcff;
}

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #9ebaa0;
  background: #627c83;
}

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
  color: #9ebaa0;
}

#wpadminbar:not(.mobile) li:hover .ab-icon:before,
#wpadminbar:not(.mobile) li:hover .ab-item:before,
#wpadminbar:not(.mobile) li:hover .ab-item:after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
  color: #fff;
}

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
  background: #627c83;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #8f9a9e;
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
  color: #d5dde0;
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
  color: #f2fcff;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
  color: #9ebaa0;
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before,
#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
  color: #9ebaa0;
}

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
  color: #f2fcff;
}

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
  color: #f2fcff;
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #fff;
  background: #879ea5;
}

/* Admin Bar: recovery mode */
#wpadminbar #wp-admin-bar-recovery-mode {
  color: #fff;
  background-color: #aa9d88;
}

#wpadminbar #wp-admin-bar-recovery-mode .ab-item,
#wpadminbar #wp-admin-bar-recovery-mode a.ab-item {
  color: #fff;
}

#wpadminbar .ab-top-menu > #wp-admin-bar-recovery-mode.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus {
  color: #fff;
  background-color: #998d7a;
}

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: #879ea5;
  background-color: #879ea5;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
  color: #fff;
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #9ebaa0;
}

#wpadminbar #wp-admin-bar-user-info .username {
  color: #d5dde0;
}

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
  background-color: #9ebaa0;
  border-color: #8faf91;
}

.wp-pointer .wp-pointer-content h3:before {
  color: #9ebaa0;
}

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
  border-bottom-color: #9ebaa0;
}

/* Media */
.media-item .bar,
.media-progress-bar div {
  background-color: #9ebaa0;
}

.details.attachment {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #9ebaa0;
}

.attachment.details .check {
  background-color: #9ebaa0;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #9ebaa0;
}

.media-selection .attachment.selection.details .thumbnail {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #9ebaa0;
}

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover:after,
.theme-browser .theme.add-new-theme a:focus:after {
  background: #9ebaa0;
}

.theme-browser .theme.add-new-theme a:hover span:after,
.theme-browser .theme.add-new-theme a:focus span:after {
  color: #9ebaa0;
}

.theme-section.current,
.theme-filter.current {
  border-bottom-color: #738e96;
}

body.more-filters-opened .more-filters {
  color: #fff;
  background-color: #738e96;
}

body.more-filters-opened .more-filters:before {
  color: #fff;
}

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
  background-color: #9ebaa0;
  color: #fff;
}

body.more-filters-opened .more-filters:hover:before,
body.more-filters-opened .more-filters:focus:before {
  color: #fff;
}

/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
  background-color: #9ebaa0;
  color: #fff;
}

.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
  color: #fff;
}

/* Responsive Component */
div#wp-responsive-toggle a:before {
  color: #f2fcff;
}

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: #9ebaa0;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #627c83;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
  color: #f2fcff;
}

/* TinyMCE */
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
  background: #9ebaa0;
}
